* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

*:focus {
  outline: 0;
}

html,
body,
#root {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  background: rgb(188, 238, 255);
  background: linear-gradient(
    133deg,
    rgba(188, 238, 255, 1) 0%,
    rgba(255, 218, 215, 1) 50%,
    rgba(255, 195, 149, 1) 100%
  );

  -webkit-font-smoothing: antialiased;
}

body,
input,
button {
  font: 14px 'Anton', sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
}
